/.DS_Store
/.ipynb_checkpoints
/1.0.0
/10x_citation.bib
/Annotated_Umap.png
/Annotates_Umap.png
/B37_report_draft1.docx
/B37_report_draft1.pages
/B37_report_draft1_RFC.docx
/B37_report_draft1_RFC.pages
/Cell_marker_Mouse_2.numbers
/Cellcycle_plot.png
/DAM_rank_genes.png
/Decoupler_pred.png
/Diary.md
/Heatmaps.png
/Isol.ipynb
/Lee_et_al_data
/Leiden_clusters.png
/LoganL_B37_Project_Presentation.key
/LoganL_B37_README.html
/LoganL_B37_README.pdf
/LoganL_B37_Report.pdf
/LoganL_B37_Report_revised-RFC.docx
/LoganL_B37_Report_revised.docx
/LoganL_B37_Report_revised.pdf
/LoganL_B37_Report_revised.typ
/LoganL_B37_Report_revised_RFC.pdf
/Marker_genes.png
/NfkbMapk_heatmap.png
/Ribo_heatmap.png
/Sample_Genotype.png
/ShaSup_April19_notes.md
/ShaSup_presentation_april19.key
/Tube1.ipynb
/Tube2.ipynb
/Tube3.ipynb
/Umap_figure_nolegend.png
/Umap_figure_square.png
/Umap_legend.png
/cache
/concat.ipynb
/figures
/mamba_env_spec.md
/pbmc3k.ipynb
/progres_update.key
/progress_update_april29.key
/project_bib.bib
/regev_lab_cell_cycle_genes.txt
/sc_best_practices.ipynb
/scvi_merged_model_f
/scvi_model_1
/scvi_model_5d
/singlecell_processed
/solo_models
/solo_models_750UMI
/trml_hist.txt
/umap_figure_nonames.png
/umap_poster_figure.png
/umap_poster_legend.png
/vae_models
/vae_models_750UMI
/write